:root{
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --sky-blue: #0d6efd;
    --grey: e5e5e5;
    -blue-1: #023e8a;
    -blue-2: #0077b6;
    -blue-3: #0096c7;
    -blue-4: #00b4d8;
    --success-green: #70e000;
    --error-red:#d00000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: var(--blue-2); */
}

body{
    width: 100vw;
    /* display: flex; */
}
.popup{
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert{
    /* display: flex; */
    flex-direction: column;
    line-height: 1.5rem;
    /* border: 1px solid; */
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    display: none; /*-> completely removes it*/
    /* visibility: hidden; -> hides but the div will still be there*/
}

.popup .alert label {
    color: var(--almost-white);
    font-weight: 700;
}

#success{
    background-color: var(--success-green);
    padding: .4rem;
    border-radius: 10px;
    /* visibility: hidden; */
}

#error{
    background-color: var(--error-red);
    padding: .4rem;
    border-radius: 10px;
    /* visibility: hidden; */
}

.container{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* TOP DIV STYLING */

.top{
    display: flex;
    flex-direction: column;
    color: var(--sky-blue);
    font-weight: 600;
    padding-bottom: .7rem;
    box-shadow: 0px 10px 0px 0px rgba(140,140,140,0.5);
}

.top .navbar{
    display: flex;
    justify-content: space-between;
}

.top .navbar .left{
    display: flex;
    flex-direction: column;  
    /* border: 1px solid; */
    padding: .4rem;
    line-height: 2rem;
    justify-content: center;
    width: 27%;
}

.top .navbar .left .logo-text label{
    font-family: cursive;
    color: var(--almost-black);
}
/* middle */
.top .middle{
    /* border: 1px solid; */
    width: 30%;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top .middle .search-bar .form-control{
    padding: .6rem;
    background-color: var(--light-grayish-blue-1);
    border-radius: 5px;

}
.top .middle .search-bar button{
    /* padding: .5rem; */
    background-color: var(--sky-blue);
    color: var(--almost-white);
    font-weight: 800;
    border: 1px solid var(--sky-blue);
    padding: .6rem 1.2rem;
    border-radius: 5px;
}

.top .middle .search-bar button:hover{
    background-color: inherit;  /* form the main page*/
    border: 2px solid var(--sky-blue);
    color: var(--sky-blue);
    font-weight: 800;
}
/* right */
.top .right{
    /* border: 1px solid; */
    width: 35%;
    display: flex;
    align-items: baseline;
    gap: .3rem;
}

.top .right .wishlist{
    /* border: 1px solid; */
    display: inline-flex;
    padding: .2rem;
    justify-content: center;
    align-items: baseline;
    margin: auto;
}

.top .right .wishlist label{
    font-size: large;
}

.top .right .wishlist label:hover{
    color: var(--almost-black);
}

.top .right .login{
    /* border: 1px solid; */
    margin: auto;
    /* padding: 1rem; */
    display: inline-flex;
    align-items: baseline;
}

.top .right .login a{
    font-size: large;
    text-decoration: none;
    color: var(--sky-blue);
}

.top .right .login a:hover{
    color: var(--almost-black);
}

.top .right .cart{
    align-items: center; 
    justify-content: center;
    margin:auto;
}

.top .right .cart span{
    /* width: 30px;
    height: 30px; */
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    color: white;
    font-size: 900;
    /* margin: .4rem; */
    padding: .1rem .4rem;
}

/* categories div */
.categories{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: .4rem;
    /* border: 2px solid; */
    /* background-color: red; */
}

.categories .category{
    /* border: 1px solid; */
    padding: .1rem .4rem;
}

.categories .category ul li{
    list-style: none;
}

.categories .category ul li a{
    text-decoration: none;
    font-size: x-small;
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

.categories .category ul li a:hover{
    color: var(--almost-black);
    text-decoration: underline;
    text-underline-offset: .9rem;
    /* font-weight: 900; */
    transition: 23ms;
}



/* MIDDLE DIV STYLING */
.content{
    /* border: 1px solid; */
    margin: 1rem auto;
    width: 90vw;
    display: flex;
    gap: .2rem;
}

.content .main-content{
    display: flex;
    flex-wrap: wrap;
    padding: .4rem;
    width: 64%;
    gap: 1rem;
    /* border: 1px solid; */
    background-color: var(--almost-white);
}

.content .main-content .card{
    border-radius: 17px;
    /* height: 17rem; */
    padding: .9rem;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}

.content .main-content .card .title h2{
    font-weight: 600;
    font-size: large;
}

.content .main-content .card .image{
    /*REALLY STRUGGLED TO FIT IMAGES. REMEMBER THIS!!!*/
    overflow: hidden;
    width: 180px;
    height: 190px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    object-fit: cover;
    /* border: 1px solid; */
}

.content .main-content .card .image image{
    width: 140px;
    height: 110px;
    /* object-fit: cover;
    object-position: center; */
}

.content .main-content .card .price{
    font-size: medium;
}

.content .main-content .card .title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: large;
    line-height: 1.5rem;
    color: var(--very-dark-blue);
}

.content .main-content .card .price label{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}

.content .main-content .card button{
    /* margin: 0px auto; */
    padding: .4rem;
    cursor: pointer;
	/* width: 25%; */
	padding: 10px;
	margin: 2rem 0;
	font-weight: 700;
	border-radius: 10px;
    background-color: var(--sky-blue);
    color: var(--almost-white);
}


/* main-content sidebar */
.content .sidebar-content{
    /* border: 1px solid; */
    width: 40%;
    height: 95vh;
    overflow: scroll;   /*REMEMEBER THIS*/
    padding: .4rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}

.content .sidebar-content .sidebar-top{
    line-height: 1.5rem;
    margin: .3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .sidebar-content .cart-items{
    overflow: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin: 0px auto;
    width: 95%;
}

.content .sidebar-content .cart-items .empty-cart{
    /* overflow: hidden; */
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    object-fit: cover;
    /* border: 1px solid; */
}

.content .sidebar-content .cart-items .empty-cart img{
    width: 100%;
    height: 100%;
}
.content .sidebar-content .cart-items .items{
    display: inline-flex;
    padding: .4rem;
    gap: .3rem;
    border-radius: 10px;
    width: 100%;
    /* border: 1px solid; */
    background-color: var(--light-grayish-blue-2);
    align-items: center;
    /* justify-content: center; */
}

.cart-items .items .cart-image{
    width: 80px;
    height: 80px;
    /* border: 1px solid; */
    border-radius: 50% solid var(--almost-white);
}

.cart-items .items .cart-name{
    /* border: 1px solid; */
    word-break: break-all;  /* to allow for word wrapping*/
    font-weight: 600;
    align-items: center;
    padding: .4rem;
}

.cart-items .items .cart-price{
    /* border: 1px solid; */
    padding: .4rem;
}

.cart-items .items .quantity{
    /* border: 1px solid; */
    width: fit-content;
    padding: .4rem;
}
.cart-items .items .cart-image img{
    width:75px;
    height:75px;
}


.content .sidebar-content .sidebar-footer{
    display: flex;
    justify-content: space-around;
    margin-top: .9rem;
    padding: .9rem;
    border-top: 2px solid var(--sky-blue);
    align-items: flex-end;
}

.sidebar-footer label{
    font-size: large;
    text-transform: uppercase;
    font-weight: 800;
}

.sidebar-footer .total-cart-price{
    color: var(--error-red);
}
/* BOTTOM DIV STYLING */
.footer{
    /* margin-top: 1rem; */
    padding-top: 1rem;
    border: 1px solid var(--sky-blue);
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    background-color: var(--sky-blue);
}

.footer .left{
    /* border: 1px solid; */
    padding: .3rem 2.3rem;
    color: var(--almost-white);
    line-height: 1.5rem;
}

.footer .left .logo label{
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: line-through 2px;
}

.footer .helpline label{
    font-size: 1.3rem;
    font-weight: 600;
}

.footer .helpline span{
    font-family: 'Courier New', Courier, monospace;
}

.footer .helpline span:hover{
    cursor: pointer;
}

.footer .left .socials span a{
    text-decoration: none;
    color: var(--almost-white);
}

.footer .middle{
    /* border: 1px solid; */
    padding: .3rem 2.3rem;
    color: var(--almost-white);
    line-height: 1.5rem;
}

.footer .middle label{
    font-size: large;
    margin: 0px auto;
    font-size: 1.3rem;
    font-weight: 600;
}
.footer .middle ul li{
    list-style: none;
}

.footer .middle ul li a{
    text-decoration: none;
    color: var(--almost-white);

}
.footer .right{
    /* border: 1px solid; */
    padding: .3rem 2.3rem;
    line-height: 1.5rem;
    color: var(--almost-white);
}

.footer label{
    font-size: large;
    margin: 0px auto;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--almost-white);
}

.footer .right .help ul li a{
    text-decoration: none;
    color: var(--almost-white);
}

.footer .right ul li{
    list-style: none;
}

.footer .right .support{
    margin-left: 10%;
}

.footer .right .support label{
    color: var(--almost-black);
    font-size: x-small;
}



/**************************/
/* style the cart-sidebar -> currently unused*/
/**************************/

.cart-sidebar{
    /* display: none; */
    visibility: hidden;
    position: relative;
    top: 0px;
    right: 0px;
    /* height: 100%; */
    width: 0px;
    /* background-color: #474c52; */
    /* padding: .4rem .4rem;Order followed is: {Top & bottom} {Left & Right} */
    transition: all 0.5s ease;
}

.cart-sidebar h2{
    color: var(--dark-grayish-blue);
}
.cart-sidebar.active ~ .homepage{
    right: 450px;
    width: calc(100% - 450px)
}
.cart-sidebar.active{
    width: 450px;
    visibility: visible;
    padding: 1rem ;
    border-radius: 17px;
    background-color: var(--almost-black);
    color: var(--almost-white);
}

/* position of button when cart-sidebar is inactive */
.cart-sidebar #btn {
    position: relative;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.cart-sidebar.active img{
    width: 100%;
    height: 100%;
}

.cart-sidebar.active .cart-items .items{
    display: grid;
    grid-template-columns: 70px 100px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.cart-sidebar.active .cart-items .items span{
    display: inline-block;
}

.cart-sidebar.active .items:nth-child(even){
    background-color: #eee1;
}

.cart-sidebar.active .cart-items{
    overflow: auto;
}

.cart-sidebar.active .cart-button{
    display: flex;
    gap: .2rem;
    justify-content: space-around;
    padding: .4rem;
}

.cart-button button{
    width: 120%;
    padding: 1rem;
    font-weight: 900;
    background-color: var(--sky-blue);
    border: .2px solid var(--sky-blue);
    color: var(--almost-white);
    font-size: 1rem;
    border-radius: 17px;
    text-align: center;
}

.cart-button button:hover{
    cursor: pointer;
    color: var(--almost-black);
}

/********************/
/****FORM STYLING***/
/********************/

.form-wrapper{
    margin: 0px auto;
    width: 500px;
    padding: 50px;
    padding-top: 0px auto;
    padding-bottom: 0px auto;
    width: 600px;
/*    border-right: 2px solid rgba(255,255,255,.2);*/
    border: 2px solid rgba(255,255,255,.2);
    background-color: white;
/*    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);*/
    box-shadow: 15px 15px 15px 15px rgba(140,140,140,0.5);
    border-radius: 10px;
    line-height: 2.3rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .2);

}
.form-group{
    font-size: 25px;
    font-weight: bold;
}

.form-wrapper .form-control{
    border-radius: 17px;
    height: 50px;
    font-weight: 500;
    width: 100%;
    border: .1px solid;
}
.form-wrapper .remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size:20px;
}

.remember-forgot a{
    text-decoration: none;
    color: var(--sky-blue);

}

.remember-forgot a:hover{
    text-decoration: underline;
}
.form-wrapper .btn{
    width: 100%;
    height:55px;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-weight: 600;
    background-color: var(--sky-blue);
    border: .4px solid var(--sky-blue);
    color: var(--almost-white);
    font-weight: 900;
    font-size: 1rem;
    text-align: center;

}

.form-wrapper .signup-link{
    text-align: center;
}

.signup-link p a{
    text-decoration: none;
    font-weight: 700;
    color: var(--sky-blue);
}

.signup-link p a:hover{
    text-decoration: underline;
}




/********************/
/****FORM STYLING***/
/********************/

.form-wrapper{
	margin: 0px auto;
	width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 50px;
    padding-top: 0px auto;
    padding-bottom: 0px auto;
    width: 600px;
/*    border-right: 2px solid rgba(255,255,255,.2);*/
    border: 2px solid rgba(255,255,255,.2);
    background-color: white;
/*    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);*/
    box-shadow: 15px 15px 15px 15px rgba(140,140,140,0.5);
    border-radius: 10px;
    line-height: 2.3rem;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(255, 255, 255, .2);

}
.form-group{
    font-size: 25px;
    font-weight: bold;
}

.form-wrapper .form-control{
	border-radius: 17px;
	height: 50px;
	font-weight: 500;
    width: 100%;
	border: .1px solid;
}
.form-wrapper .remember-forgot{
	display:flex;
	justify-content: space-between;
	font-size:20px;
}

.remember-forgot a{
	text-decoration: none;
    color: var(--sky-blue);

}

.remember-forgot a:hover{
	text-decoration: underline;
}
.form-wrapper .btn{
	width: 100%;
	height:55px;
	border-radius: 40px;
	box-shadow: 0 0 10px;
	font-weight: 600;
    background-color: var(--sky-blue);
    border: .4px solid var(--sky-blue);
    color: var(--almost-white);
    font-weight: 900;
    font-size: 1rem;
    text-align: center;

}

.form-wrapper .signup-link{
	text-align: center;
}

.signup-link p a{
	text-decoration: none;
	font-weight: 700;
    color: var(--sky-blue);
}

.signup-link p a:hover{
	text-decoration: underline;
}

